.toolbar{
    width: 100%;
    position: fixed;
    height: 56px;
    background-color:#f5f5f5;
    top: 0px;
    left: 0px;
}
.toolbar_logo{
    margin-left: 1rem;
}
.toolbar_logo a{
    color: black;
    text-decoration: none;
    font-size:27px;
}
.toolbar__navigation{
    display: flex;
    align-items: center;
    height: 100%;
    padding:  0 1rem;

}

.spacer{
    flex: 1;
}
.toolbar_navigation_item ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.toolbar_navigation_item li{
    padding: 0 0.5rem;
}
.toolbar_navigation_item a{
color: black;
text-decoration: none;
font-size: 18.5px;
}

.toolbar_navigation_item a:hover,
.toolbar_navigation_item a:active {
color: #fa923f;
}

@media (max-width:768px){
    .toolbar_navigation_item{
        display: none;
    }
    .toolbar__navigation{
        display: flex;
    }
    .toolbar__logo-button{
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
}
@media (min-width: 796px) {
    .toolbar__toggle-button{
        display: none;
    }
    .toolbar_logo{
        margin-left: 0;
    }
}