.footer {
    height: 100%;
    width: 100%;
    background-color: #00e;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.footer span:nth-child(1) {
    margin-bottom: .5rem;
}
.footer span {
    color: #fff;
}